* {
  margin: 0;
  padding: 0;
}
p {
  margin: .5em 0;
}
body {
  text-align: center;
  margin: 20px auto;
}
.example {
  text-align: left;
  display: inline-block;
  margin: 0 10px;
  width: 400px;
  vertical-align: top;
}
.map {
  width: 400px;
  height: 400px;
}
.marker-label span {
  font-size: 1em;
  font-weight: bold;
  color: white;
  letter-spacing: .1px;
}
.mapboxgl-ctrl-group > button.mapboxgl-ctrl-compass {
  display: none;
}
#attribution {
  text-align: right;
}
